<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #336
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f2f2f2;
}

.active {
  background-color: rgb(255, 128, 0);
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="https://github.com/alexdg722">Github</a></li>
  <li><a href="/admin_login">Admin Login</a></li>
  <li><a href="/user_login">Accountant Login</a></li>
</ul>

</body>
</html>