<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Students</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div th:include="./resources/studentheader.html"></div>


	<div class="container my-1">
		<h1 style="color: rgb(0, 0, 0);">Students</h1>
		<table class="table table-bordered">
			<thead>
				<tr>

					<th>Name</th>
					<th>Email</th>
					<th>Sex</th>
					<th>Course</th>
					<th>Fee</th>
					<th>Paid</th>
					<th>Due</th>
					<th>Address</th>
					<th>Contact</th>
					<th>Actions</th>

				</tr>
			</thead>
			<tbody>

				<tr th:if="${Studentlist.empty}">
					<td colspan="10" style="text-align: center;">No Students
						Available</td>
				</tr>

				<tr th:each="student : ${Studentlist}">
					<td th:text="${student.name}"></td>
					<td th:text="${student.email}"></td>
					<td th:text="${student.sex}"></td>
					<td th:text="${student.course}"></td>
					<td th:text="${student.fee}"></td>
					<td th:text="${student.paid}"></td>
					<td th:text="${student.due}"></td>
					<td th:text="${student.address}"></td>
					<td th:text="${student.contact}"></td>


					<td><a
						th:href="@{/showFormForUpdateStudent/{id}(id=${student.rollno})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/deleteStudent/{id}(id=${student.rollno})}"
						class="btn btn-danger">Delete</a></td>
				</tr>

			</tbody>
		</table>
		<div align="right">
			<a th:href="@{/showNewStudentForm}" class="btn btn-primary"> Add
				Student </a>
		</div>

		<div th:include="./resources/footer.html"></div>
</body>
</html>